*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
 }

.logo {
  background-color: gray;
}

.custom-shape-divider-top-1698056563 {
    position: absolute;
    top: 30;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1698056563 svg {
    position: relative;
    display: block;
    width: calc(143% + 1.3px);
    height: 83px;
}

.custom-shape-divider-top-1698056563 .shape-fill {
    fill: #121212;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 1em;
  gap: 4rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

header {
  padding: 0.5em;
  background-color: #121212;
}

main {
  min-height: 100vh;
  background-color: #282828;
}

.contact-btn {
  background-color: #282828;
  padding: 1.8em;
  border-radius: 1em;
  border-style: none;
}

.contact-btn a {
  color: #FFFFFF;
  font-size: 18px;
  transition: 0.4s ease-in-out all;
}

.contact-btn a:hover {
  color: #1DB954;
}

.contact-btn:hover {
  transform: scale(1.1);
}
